.footerContainer {
    background-color: cadetblue;
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-content: space-around;
    color:cornsilk;
}