
.button {
    color: cadetblue;
    border-radius: 5px;
    margin-left: 10px;
    
}

.button:hover{
    background-color: rgb(173, 173, 173);
    color:white;

}

input {
    border-style: none;
    border: none;
    border-radius: 5px;
  
}